
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  justify-content: center;
}
/*
 *************************
    TIC-TAC-TOE BOARD
 *************************
*/
#board {
  display: flex;
  justify-content: center;
  padding: 100px;
}

td {
  height: 100px;
  width: 100px;
}

.vertical {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.horizontal {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
/*
 *************************
          FOOTER
 *************************
*/
footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: #3c8ad8;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: .2rem;
}