body {
  font-family: 'Roboto', sans-serif;
}
footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: #3c8ad8;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: .2rem;
}