/*
 *************************
    GENERAL STYLINGS
 *************************
*/
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  justify-content: center;
}
h1 {
  text-transform: uppercase;
  color: #3c8ad8;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
}
button {
  border: 2px solid #3c8ad8;
  padding: 10px;
  color: #3c8ad8;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
}
button:hover {
  background-color: #3c8ad8;
  color: #fff;
  transition: 0.5s;
}
/*
 *************************
    TIC-TAC-TOE BOARD
 *************************
*/
#board {
  display: flex;
  width: 310px;
  flex-wrap: wrap;
  padding: 50px;
}

.square {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 50px;
  background-color: #3c8ad8;
}
.square:hover {
  background-color: #fff;
  transition: 0.5s;
}
.vertical {
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.horizontal {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
} */
/*
 *************************
          FOOTER
 *************************
*/
footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: #3c8ad8;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: .2rem;
}